%rebase('osnova.html', naslov='Prijava', stran='prijava')

<h1>Prijava</h1>

<form action="/prijava" method="POST" style="width:60%">
  <div class="form-group">
    <label for="username">Uporabniško ime</label>
    <input type="text" class="form-control" name="username" required placeholder="Vnesi uporabniško ime">
  </div>
   <div class="form-group">
    <label for="password">Geslo</label>
    <input type="password" class="form-control" id="password" name="password" required placeholder="Vnesi geslo">

    <div class="form-check mt-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="prikazi_geslo"
      >
      <label class="form-check-label" for="prikazi_geslo">
        Prikaži geslo
      </label>
    </div>
  </div>

  % if defined("napaka") and napaka:
    <div class="alert alert-danger">
        {{napaka}}
    </div>
  % end

  <button type="submit" class="btn btn-primary">Prijava</button>

  <p class="mt-3">
    Še nimaš računa? <a href="/registracija">Registriraj se.</a>
  </p>
  
  <p>
    Nazaj na domačo stran: <a href="/">Domov</a>
  </p>


</form>

<script>
  const geslo = document.getElementById("password");
  const prikaziGeslo = document.getElementById("prikazi_geslo");

  prikaziGeslo.addEventListener("change", function () {
    geslo.type = this.checked ? "text" : "password";
  });
</script>


